.profile{
  display: flex;
  .left{
    width: 50%;
    max-width: 240px;
    img{
      width: 100%;
      object-fit: contain;
      border-radius: 50%;
      margin: 20px 0 0;
    }
    button{
      width: 100%;
      max-width: 180px;
      background-color: black;
      border: none;
      color: white;
      padding: 10px 0;
      margin: 20px auto;
      display: block;
      cursor: pointer;
    }
  }
  .right{
    margin: 20px 30px;
  }
}