.users{
  .searchSection{
    margin: 20px 0;
    padding: 0 0 0 10px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border: 1px solid gray;
    input{
      display: block;
      height: 100%;
      width: 100%;
      padding: 0;
      border: 0;
      outline: none;
    }
    button{
      display: block;
      //padding: 0;
      height: 100%;
    }
    img{
      height: 100%;
      object-fit: contain;
    }
  }
  .user{
    font-size: 22px;
    font-weight: normal;
    margin: 5px 0;
  }
}